<%= render "partials/dashboard_header" %>
<div class="container-narrow">
	<h2>My Lists</h2>

<% for list in @lists %>
  <p><%= link_to list.name, user_list_path(@user, list) %></p>
<% end %>

<%= link_to "Add List", new_user_list_path %>

</div>