<div class="container-narrow">
	<div class="masthead pad20">
		<div class="navbar">
    	<ul class="nav pull-right">
      	<li><%= link_to "Home", root_path %></li>
      	<li><%= link_to "Take a Tour", tour_path %></li>
    		<li><a href="#">Blog</a></li>
        <li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Login", login_path %></li>
    	</ul>
    	<h3 class="green">Bogo<span class="grey-text">fy</span></h3>
  	</div>
	</div>
</div>