<div class="container-narrow">
	<div class="masthead pad20">
		<div class="navbar">
    	<ul class="nav pull-right">
      	<li><a href="#">Home</a></li>
      	<li><a href="#">About</a></li>
    		<li><a href="#">Blog</a></li>
    		<li><a href="#">Signup</a></li>
    		<li><a href="#">Login</a></li>
    	</ul>
    	<h3 class="green">Bogo<span class="black-text">fy</span></h3>
  	</div>
	</div>
</div>