<div class="ftr-sub">
	<div class="container-narrow">
		<div class="row-fluid">
			<div class="span6">
				</p>
			</div>
			<div class="span6">
				<p>Copyright <span class="green-text">Bogo</span>fy &copy;<%= Time.now.strftime("%Y") %>
			</div>
		</div>
	</div>
</div>