<%= render "partials/dashboard_header" %>

<div class="dashboard-main">
	<div class="container-narrow">
		<div class="row-fluid">
			<div class="span5">
				<div class="user-sidebox">
					<h2>Profile</h2>
					<h2>Transactions</h2>
					<h2>Grocery Lists</h2>
					<!-- Create User Grocery Lists -->
					<% for list in @lists %>
						<%= link_to list.name, user_list_path(@user, list) %>
					<% end %>

					<h2>Links</h2>
					<h2>
				</div>
			</div>
			<div class="span7">
				<div class="activity-container">
					Activity list
					<%= link_to "User List", user_lists_path(@user) %>
				</div>
			</div>
		</div>
	</div>
</div>
