<%= render 'partials/header' %>

<div class="signin-pg">
	<div class="container-narrow">
		<div class="signin-container">
			<p class="signin-heading">Sign Up for <span class="green-text">Bogo</span>fy</p>
			
			<%= form_tag 


		</div>	
	</div>
</div>

<%= render 'partials/footer' %>
<%= render 'partials/subfooter' %>